.no-orgo-container {
  align-items: center;
  background-color: $tertiaryColor;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;

 .no-orgo-pic {
    width: 5%;
  }
}

.no-orgo-message {
  font-family: 'Sansita', sans-serif;
}
